.flights-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    height: 60vh;
}

.flights-container .flights-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    border: 1px solid #b1b1b1;
}