:root {
    --color_ice_old: #a0d2eb;
    --color_freeze_purple: #e5eaf5;
    --color_medium_purple: #d0bdf4;
    --color_medium_purple_lighter: #9e7bc3;
    --color_purple_pain: #8458B3;
    --color_heavy_purple: #a28089;
}