.header-title {
  background-color: var(--color_purple_pain);
  border-bottom: 4px solid #b1b1b1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title .header-text {
  text-decoration: none;
  color: white;
  font-size: 1.414rem;
  font-weight: bold;
}