.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.login-form-container .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 20%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 3rem;
}

.login-form-container .login-form .field {
    margin: 1rem 0;
}

.login-form-container .login-form .field .field-box {
    width: 100%;
}