// Place all the styles related to the flight_schedules_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-box-partial {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  justify-content: center;
}

.search-box-container {
  display: inline-flex;
  text-align: center;
  padding: 3rem;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  background-color: white;
}

.search-box-container .search-fields-container {
  text-align: left;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 1.414rem 0;
}

.search-box-container .search-fields-container .search-field {
  width: 100%;
}

.table-scroll {
  overflow: scroll;
}

.schedules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  height: 60vh;
}

.schedules-container .schedules-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid #b1b1b1;
}