<div class="header-title">
  <%= link_to schedules_path do %>
    <span class="header-text">Flight Booking App!</span>
    <%= image_tag("airplane_logo.png", height: 50, class:"website-logo") %>
  <% end %>
  <div class="header-buttons">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-dark"%>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-dark" %>
    <% end %>
  </div>
</div>